<% provide(:title, "Home") %>

<% content_for :top_content do %>

<h1 class="semibold text-2xl">Welcome to Schulminator!</h1>
<p class="lead">Start learning for free!</p>

    <% if user_signed_in? %>
      <%= button_to "New post", new_post_path, class: "btn btn-purple btn-small block my-2 text-center w-24" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class:"btn btn-white btn-small block my-2 text-center w-24" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-purple btn-small block my-2 text-center w-24" %>
    <% end %>

    <% end %>


<% content_for :primary_content do %>

      <div id="profile_posts">
    <% @feed_items.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>

    

<% end %>

<% content_for :secondary_content do %>
        <div id="profile_posts">
    <% @users_home.each do |user| %>
      <%= render 'users/user_ranking', user: user %>
    <% end %>
<% end %>

<%= render "basic_layout_header" %>