<div class="p-4 text-center">
    <a href="<%= user_path(user) %>">
        <%= gravatar_for(user) %>
    </a>
    <a href="<%= user_path(user) %>">
        <span class="font-semibold text-lg"><%= user.username %></span>
    </a>
    <div class="italic text-sm text-gray-600">Joined <%= time_ago_in_words(user.created_at) %> ago</div>

    <% if user.posts.any? %>
        <span class="text-gray-600 mt-4 block"><%= pluralize(user.posts.count, "post") %></span>
    <% end %>   

    <% if user.favorites.any? %>
        <span class="text-gray-600 mt-4 block"><%= pluralize(user.favorites.count, "like") %></span>
    <% end %>    

    <% if user_signed_in? %>
      <%= link_to "New post", new_post_path, class: "btn btn-purple btn-small w-full block my-2" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-white btn-small w-full block my-2" %>
      <%= link_to "Sign Up", new_user_session_path, class: "btn btn-purple btn-small w-full block my-2" %>
    <% end %>

</div>