<% content_for :community_label, "u/#{@user.username}" %>

<% content_for :top_content do %>
<%= render 'user_header', user: @user %>
<% end %>

<% content_for :primary_content do %>

<div class="flex justify-between mb-4 border-b border-gray-300">
  <a class="tablinks cursor-pointer p-4 no-underline text-gray-700 font-semibold" onclick="openTab(event, 'posts')" id="defaultOpen">Posts</a>
  <a class="tablinks cursor-pointer p-4 no-underline text-gray-700 font-semibold" onclick="openTab(event, 'Likes')">Likes</a>
  <a class="tablinks cursor-pointer p-4 no-underline text-gray-700 font-semibold" onclick="openTab(event, 'Followers')">Followers</a>
  <a class="tablinks cursor-pointer p-4 no-underline text-gray-700 font-semibold" onclick="openTab(event, 'Following')">Following</a>
</div>

<div id="posts" class="tabcontent">
  <div id="profile_posts">
    <% @user.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
</div>

<div id="Likes" class="tabcontent">
  <% if @favorite_posts.present? %>
  <div class="bg-grey-400">
    <% @favorite_posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
<% end %>
</div>

<div id="Followers" class="tabcontent">
  <% @user.followers.each do |user| %>
    <%= render 'users/user', user: user %>
  <% end %>
</div>

<div id="Following" class="tabcontent">
  <% @user.following.each do |user| %>
    <%= render 'users/user', user: user %>
  <% end %>
</div>

<% end %>


<% content_for :secondary_content do %>
  <div class="h-48 text-gray-600 text-center items-center flex justify-center">
    Hier kommt Werbung
  </div>
<% end %>

<%= render 'basic_layout_header' %>

<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>