<%= content_for :primary_content do %>

  <div class="pb-10 pt-10 px-4 bg-white border border-gray-300 shadow rounded-sm">
    <h1 class="text-xl font-normal mb-6">Editing post <span class="italic"><%= @post.title %></span></h1>
    <%= render 'form', post: @post %>

    <%= link_to @post, method: :delete, class:"no-underline", data: { confirm: 'Are you sure?' } do %>
      <%= render_svg 'icons/delete', title: "Delete", styles: "fill-current text-gray-500 icon-md hover:text-gray-700 float-right mr-4" %>
    <% end %>

  </div>

<% end %>

<% content_for :secondary_content do %>
  <%= render "guidelines" %>
<% end %>

<%= render "basic_layout" %>