<%= content_for :primary_content do %>
  <div class="p-4 pb-10 pr-6 bg-white border border-gray-300 shadow rounded-sm">
    <div class="flex flex-row flex-wrap items-start justify-between">

      <h1 class="no-underline"><%= @post.title %></h1>

      <div class="post-content">

        <p class="text-gray-700 font-normal text-base inline-block flex items-center justify-start mb-4">
          <%= gravatar_smallest_for(@post.user) %>
          <%= link_to "#{@post.user.username}", user_path(@post.user), class:"text-gray-600 hover:text-gray-800 ml-2 mr-1" %> 
          <span class="text-gray-600 p-1 text-sm bg-gray-200 rounded-full mr-2">
            <%= @post.user.points %> <%= "point".pluralize(@post.user.points) %>
          </span>
          <span class="ml-8text-gray-600 text-sm"><%= @post.created_at.strftime("%e %b %Y") %> </span>
        </p>

        <% if @fachs.present? %>
         <p class="text-gray-600 italic text-sm">#<% @fachs.each do |f| %><%= f.name %></p>
        <% end %>

        <div class="leading-normal text-base lg:pr-6 my-6">
          <%= @post.body %>
        </div>

        <%= render 'actions', post: @post %>


        <div class="mt-12">
          <%= fave_or_unfave_button(@post, @favorite) %>
        </div>

        <% unless user_signed_in? %> 
          <p class="text-sm text-gray-600 my-2">
          <%= link_to "Login", new_user_session_path, class: "link" %> or 
          <%= link_to "Sign up", new_user_registration_path, class: "link" %> to comment.</p>
        <% else %>
          <%# TODO: Add Comments %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

  
<% end %>

<%= content_for :secondary_content do %>
  <%= render 'users/user_sidebar', user: @post.user %>
<% end %>

<%= render 'basic_layout' %>